$primary:       #1266F1 !default;
$secondary:     #B23CFD !default;
$success:       #00B74A !default;
$info:          #39C0ED !default;
$warning:       #FFA900 !default;
$danger:        #F93154 !default;
$light:         #FBFBFB !default;
$dark:          #292929 !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 720px,
    xl: 720px,
    xxl: 720px
);

@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons';

[v-cloak] > * { display: none; }
